@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./css/font/Montserrat-VariableFont_wght.ttf) format('truetype');
}

.main-container-wrapper {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  min-height: 0;
  width: 100%;
  position: relative;
}
.container {
  width: 62vw;
  min-height: 82vh;
  box-shadow: 0 0 7px 0 #444444;
  position: absolute;
  text-align: center;
}

.react-responsive-modal-modal {
  .react-responsive-modal-closeButton {
    &:focus-visible {
      outline: none !important;
    }
  }
}

@keyframes animatebottom {
  0% {
    bottom: -300px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

.path-fill-white {
  svg {
    path {
      fill: white !important;
    }
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
